<!-- <mat-toolbar>
    <span>VBI Music</span>
</mat-toolbar> -->
<nav class="nav navbar bg-dark border border-primary border-top-2">
    <div class="container">
        <a class="navbar-brand" routerLink="/home">VBI Music App &nbsp;<i class="fa fa-headphones fa-2x" aria-hidden="true"></i></a>
        <ul class="nav navbar" >
            <li class="nav-item" *ngFor="let tab of tabList"><a class="nav-link text-capitalize" routerLinkActive="active" routerLink="/{{tab}}">{{tab}}</a></li>
        </ul>
    </div>
  </nav>