/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

@import "../node_modules/bootstrap/scss/bootstrap";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; color: #FFFFFF;}

$primary: #0056b3;

.ngx-pagination li{
  color:#FFFFFF !important;
}

.ngx-pagination li :hover{
  color: black !important;
}

.tablerow{
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.img-thumbnail {
  height: 50px !important;
  width: 50px !important;
  padding: 0 !important;
  border: none !important;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.image{
  background: url("./assets/background_img.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-blend-mode: lighten;
}

input.search-query {
  background-color : #195ca0;
  color: #FFFFFF !important;
}

.form-control-sm:focus {
  background-color : #195ca0 !important;
}

::placeholder{
  color: #FFFFFF !important;
}