

<div class="row">
    <div class="col-6">
        <h4 class="m-0 p-3"> <span class="text-primary">Albums</span></h4>
    </div>
    <div class="col-5">
        <input type="text" class="search-query form-control form-control-sm m-3 p-3" placeholder="Search..." [(ngModel)]="searchSongText" >
    </div>
</div>

    <div class="row">
        <div *ngIf="this.songsList" class="col-6 align-center">
            <table class="table table-hover table-borderless ml-2">
                <tbody>
                <tr class="shadow rounded text-white" *ngFor="let album of albumList | filter:searchSongText | paginate: { itemsPerPage: 10, currentPage: p } ;  let i = index;">    
                    <td><img src="{{song.thumbnailUrl}}" alt="{{song.title}}" class="img-thumbnail rounded"></td>
                    <td class="tablerow">{{song.title}}</td>
                    <td class="text-center" style="cursor: pointer;"><i class="fa fa-play" aria-hidden="true" (click)="onPlay(song)"></i></td>
                    <td *ngIf="enablePlaylistCreation">
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox" name="checkbox" id="customCheck{{p}}{{i}}" (change)="addSong($event,song)">
                            <label class="custom-control-label" for="customCheck{{p}}{{i}}"></label>
                          </div>
                    </td>
                </tr>
                </tbody>
            </table>
                <pagination-controls (pageChange)="p = $event" *ngIf="songsList.length > 0"></pagination-controls>
        </div>  
        <div class="col-6">
            <app-song *ngIf="viewPlayer" [autoplayed]="play" [song]="selectedSong"></app-song>
        </div>  
    </div>       
</div>
