

<div class="row">
    <div class="col-6">
        <h4 class="m-0 p-3"> <span class="text-primary">Albums</span></h4>
    </div>
    <div class="col-5">
        <input type="text" class="search-query form-control form-control-sm m-3 p-3" placeholder="Search..." [(ngModel)]="searchSongText" >
    </div>
</div>
    <div class="row m-2">
        <div *ngIf="this.albumLists" class="col-12">
            <table class="table table-hover table-borderless ml-2">
                <tbody>
                    <tr class="shadow rounded text-white p-1" *ngFor="let album of albumLists | filter:searchSongText | paginate: { itemsPerPage: 7, currentPage: p } ;  let i = index;">
                        <td class="tablerow">{{album.title}}</td>
                    </tr>
                </tbody>
            </table>
            <pagination-controls (pageChange)="p = $event" *ngIf="albumLists.length > 0"></pagination-controls>
        </div>   
    </div>       
